.header {
  width: 100%;
  min-width: 320px;
  display: flex;
  box-sizing: border-box;
  position: relative;
}

.header__logo-block {
  box-sizing: border-box;
}

.header__slogan {
  @include resetMarginPadding;
  width: 80px;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 30px;
}

.header__item {
  margin-right: 15px;
}

@media (min-width: 320px) {
  .header {
    width: 320px;
    padding: 20px 10px;
  }

  .header__logo {
    z-index: 100;
  }
}

@media (min-width: 425px) {
  .header__logo-block {
    width: 69%;
  }
}

@media(min-width: 765px) {
  .header {
    width: 100%;
    min-height: 500px;
    padding: 0;
  }

  .header__slogan {
    margin-bottom: 60px;
  }

  .menu-block {
    width: 31%;
    background-color: transparent;
  }
  .header__logo-block {
    padding-left: 11%;
    padding-top: 50px;
    width: 69%;
    background-image: none;
    background-image: url("../img/armchiars.png");
    background-size: 55.5% auto;
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }

  .header__logo {
    z-index: 0;
  }

}


@media(min-width: 1024px) {

  .header__logo-block {

    background-position: 85% 50%;
  }

  .header__logo-block {
    padding-left: 6%;
  }

}

@media(min-width: 1200px) {
  .header__logo-block {
    padding-left: 11%;
  }
}

@media(min-width: 1500px) {
  .header__logo-block {
    background-position: 85% 120%;
  }
}

