.projects__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.project__fondue {
  width: 100%;
  box-sizing: border-box;
  padding-left: 2.65%;
  background-image: url("../img/lamp.png");
  background-size: 100%;
  background-color: #ffffff;
  background-repeat: no-repeat;

  .project__feature-list {
    margin-bottom: 73px;
  }

  .project__title {
    margin-bottom: 12px;
  }

  .project__link {
    margin-left: 36px;
  }

  .project__like {
    margin-left: 68px;
  }

}

.project__title {
  @include resetMarginPadding;
  font-weight: 300;
  margin-bottom: 9px;
}

.project__feature-list {
  @include resetList;
  font-size: 12px;
  line-height: 12px;
  margin-left: 1px;
}

.project__feature {
  font-weight: 700;
}

.project__link {
  position: relative;
  font-size: 18px;
  text-decoration: none;
  color: $dark-gray;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -28px;
    top: 2px;
    width: 19px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='projects__nav-icon' width='19px' height='15px'%3E%3Cpath fill-rule='evenodd' fill='rgb(235, 178, 64)' d='M19.000,7.299 L19.000,7.701 L19.015,7.715 L19.000,7.730 L19.000,8.000 L18.730,8.000 L11.715,15.015 L10.985,14.285 L17.270,8.000 L0.000,8.000 L0.000,7.000 L17.270,7.000 L10.985,0.716 L11.715,-0.015 L18.730,7.000 L19.000,7.000 L19.000,7.270 L19.015,7.285 L19.000,7.299 Z'/%3E%3C/svg%3E");
  }
}

.project__like {
  margin-top: auto;
}

.project__like-count {
  font-size: 11px;
  color: #ff0000;
}

.project__potter {
  position: relative;
  box-sizing: border-box;
  padding-top: 31px;
  padding-left: 9%;
  background-image: url("../img/kettel.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #dfe0d9;
}

.project__feature-list {
  margin-bottom: 13px;
}

.project__link {
  margin-left: 28px;
  margin-bottom: 21px;
}

.project__like {
  margin-left: 60px;
}

.project__description {
  @include resetMarginPadding;
  text-transform: none;
  padding-right: 63%;
}

.project__fiji {
  position: relative;
  background-color: #ffffff;
  background-image: url("../img/armchiar.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-left: 53%;
  padding-top: 47px;

  .project__title {
    margin-bottom: 11px;
  }

  .project__feature-list {
    margin-bottom: 23px;
}

  .project__link {
    margin-left: 30px;
    margin-bottom: 19px;
  }

  .project__like {
    margin-left: 70px;
  }

}

@media (min-width: 765px) {
  .project__fondue {
    width: 50%;
    background-size: 100% auto;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 20px;

    .project__like {
      margin-top: 30px;
    }
  }


  .project__potter {
    padding-top: 50px;
    box-sizing: border-box;
    background-size: 100% auto;
    width: 50%;
    padding-left: 20px;
    padding-bottom: 50px;
    order: 2;
  }

  .project__fiji {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 28%;
    box-sizing: border-box;
    background-size: 100% auto;
    width: 50%;
  }

}

@media (min-width: 1024px) {
  .project__fondue {
    width: 38%;
    padding-top: 82px;
    padding-bottom: 73px;
    padding-left: 6.65%;
  }

  .project__potter {
    order: 0;
    width: 100%;
    padding-left: 9%;
    padding-top: 31px;
    padding-bottom: 27px;
  }

  .project__fiji {
    width: 100%;
    padding-top: 44px;
    padding-bottom: 26px;
    padding-left: 53%;
  }

  .projects__small-items-wrapper {
    width: 31%;
    display: block;
  }
}
